neo4j
PyPDF2
langchain
langchain-community
langchain-neo4j
langchain-ollama
pypdf
requests
chromadb
transformers
torch==2.0.1+cu118 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cu118 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.0.2+cu118 -f https://download.pytorch.org/whl/torch_stable.html
sentence-transformers
numpy
psutil
huggingface-hub